.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(101, 144, 238, 0.856);
  color: #fff;
}
