.Cell {
  height: 100px;
  width: 100px;
  border-radius: 1px;
  background-color: #263238;
  transition: background-color 0.7s ease;
}

.Cell-lit {
  background-color: #68d391;
  box-shadow: 0 0 10px 8px rgba(109, 194, 128, 0.548);
}
